.brown {
  color: #b46c14;
}

.brown-bg {
  background-color: #b46c14;
}

.btn-brown {
  background-color: #b46c14;
  border-radius: 10px;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
}
