.brown {
  color: #b46c14;
}

.brown-bg {
  background-color: #b46c14;
}

.btn-brown {
  background-color: #b46c14;
  border-radius: 10px;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
}

.dancing-script-main {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-display-subtitle {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-light-gray {
  background-color: rgb(229, 228, 228);
}
